#test {
width: 150px;
height:150px;
background: orange;
margin: 30px;
}

#output{
width: 300px;
height:150px;
margin: 20px;
}


/* {-moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);} */